@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.fade-scroll {
  mask-image: linear-gradient(to bottom,
      transparent,
      black 20px,
      black calc(100% - 20px),
      transparent);
  -webkit-mask-image: linear-gradient(to bottom,
      transparent,
      black 20px,
      black calc(100% - 20px),
      transparent);
}

.scroll-container {
  scroll-behavior: smooth;
}

@media (max-width: 640px) {
  .action-buttons {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}